@model Student

<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">@Model.Name</h4>
      <p class="card-text">@Model.Address</p>
      <a href="/Student/index" class="btn btn-primary">Back To List</a>
    </div>
  </div>