@model Student
@{
    ViewData["Title"] = "New";
    SelectList deptItems = 
            new SelectList(ViewBag.DeptList,"Id","Name");
}

<h1>New</h1>
<form method="post" asp-action="New" asp-controller="Student" > @*asp-route-id="@Model.Id"*@
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
       <label asp-for="Name"></label>
       <input  asp-for="Name" class="form-control" /> 
       <span asp-validation-for="Name" class="text-danger"></span>
       
    </div>
  <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
  <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
        
    </div>
    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image"  class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Dept_Id"></label>
        <select asp-items="deptItems" asp-for="Dept_Id"  class="form-control">
            <option value="0" >-- Select Department --</option>
        </select>
        <span asp-validation-for="Dept_Id" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-success" />
</form>
@section Scripts{
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}